{% extends 'base.html' %}
{% from 'utils.j2' import nav %}

{% block title %}&nbsp;{% endblock %}

{% block heading %}Check FAWA Statements{% endblock %}

{% block content %}

{% set user = session['user'] %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {{ nav(user) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-striped">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">File ID</th>
                    <th scope="col">Statement Date</th>
                    <th scope="col">Total Records</th>
                    <th scope="col">Processed</th>
                </tr>
                {% for row in statements %}
                <tr>
                    <td><a href='{{ url_for("reviewstatements", sid=row.id) }}'>{{ row.id }}</a></td>
                    <td>{{ row.fileid }}</td>
                    <td>{{ row.statementdate }}</td>
                    <td>{{ row.recordcount }}</td>
                    {% if row.processed == 0 %}
                    <td>N</td>
                    {% else %}
                    <td>Y</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}