{% extends 'base.html' %}
{% from 'utils.j2' import nav %}

{% block scripts %}
    <script>
      function checkData(theForm) {
        var pwd = document.querySelector("#txtPassword").value;
        var chkpwd = document.querySelector("#txtChkpass").value;
        var pwdmatch = document.querySelector("#pwdMatch")
        if (pwd != chkpwd) {
            pwdmatch.innerHTML = "Passwords Don't Match";
            return false;
        }
        return true;
      }
    </script>
{% endblock %}

{% block title %}FAWA Statements - Edit User{% endblock %}

{% block content %}
{% set user = session['user'] %}

{% block heading %}Edit User{% endblock %}

<div class="container m-3">
      <div class="row">
        <div class="col-12 border border-secondary">
            {{ nav(user) }}
        </div>
      </div>

      <div class="row justify-content-center">
        <span class="text-secondary text-center">Edit User</span>
      </div>
      <div class="row justify-content-center">
        <form class="col-12 p-3 border border-secondary" action="{{ url_for('edituser', uid=contact.id) }}" onsubmit="return checkData(this)" method="POST">
            <div class="row">
                <div class="col-6">
                    <div class="form-group my-2">
                        <label for="txtID">Username</label>
                        <input class="form-control" type="text" id="txtID" name="txtID" maxlength="20" value="{{ contact.id }}" disabled>
                    </div>    
                </div>
                <div class="col-6">
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group my-2">
                        <label for="txtFirst">First Name</label>
                        <input class="form-control" type="text" id="txtFirst" name="txtFirst" placeholder="First Name" maxlength="20" value="{{ contact.firstname }}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group my-2">
                        <label for="txtLast">Last Name</label>
                        <input class="form-control" type="text" id="txtLast" name="txtLast" placeholder="Last Name" maxlength="20" value="{{ contact.lastname }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group my-2">
                        <label for="txtEmail">Email</label>
                        <input class="form-control" type="email" id="txtEmail" name="txtEmail" placeholder="user@email.com" maxlength="20" value="{{ contact.email }}">
                    </div>          
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group my-2">
                        <input class="form-check-input" type="checkbox" id="chkadmin" name="chkauth" value="admin" {% if auth|isadmin %}checked{% endif %} {% if not user.auth|isadmin %}disabled{% endif %}>
                        <span type="input-group-text" class="mx-2">Admin</span>
                        <input class="form-check-input" type="checkbox" id="chkusrmgr" name="chkauth" value="usrmgr" {% if auth|isusrmgr %}checked{% endif %}>
                        <span type="input-group-text" class="mx-2">User Mgr</span>
                        <input class="form-check-input" type="checkbox" id="chkfawa" name="chkauth" value="fawa" {% if auth|isfawa %}checked{% endif %}>
                        <span type="input-group-text" class="mx-2">FAWA Admin</span>
                        <input class="form-check-input" type="checkbox" id="chksms" name="chkauth" value="sms" {% if auth|issms %}checked{% endif %}>
                        <span type="input-group-text" class="mx-2">SMS User</span>
                        <input class="form-check-input" type="checkbox" id="chkpayroll" name="chkauth" value="payroll" {% if auth|ispayroll %}checked{% endif %} {% if not user.auth|isadmin %}disabled{% endif %}>
                        <span type="input-group-text" class="mx-2">Payroll Mgr</span>
                        <input class="form-check-input" type="checkbox" id="chkreadonly" name="chkauth" value="readonly" {% if auth|isreadonly %}checked{% endif %}>
                        <span type="input-group-text" class="mx-2">Read Only</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group my-2">
                        <input class="form-check-input" type="checkbox" id="chkpassauth" name="authtype" value="passauth" {% if contact.passauth %}checked{% endif %} {% if not user.auth|isadmin %}disabled{% endif %}>
                        <span type="input-group-text" class="mx-2">Password Authentication</span>
                        <input class="form-check-input" type="checkbox" id="chktfaauth" name="authtype" value="tfaauth" {% if contact.tfaauth %}checked{% endif %} {% if not user.auth|isadmin %}disabled{% endif %}>
                        <span type="input-group-text" class="mx-2">2FA Authentication</span>
                        <input class="form-check-input" type="checkbox" id="chklocked" name="authtype" value="locked" {% if contact.locked %}checked{% endif %}>
                        <span type="input-group-text" class="mx-2">Account Locked</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group my-2">
                        <label for="txtPassword">Change Password</label>
                        <input class="form-control" type="password" id="txtPassword" name="txtPassword" placeholder="Password" maxlength="20">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group my-2">
                        <label for="txtChkpass">Repeat Password</label>&nbsp;&nbsp;<span id="pwdMatch"></span>
                        <input class="form-control" type="text" id="txtChkpass" name="txtChkpass" placeholder="Repeat Password" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group my-2">
                        <button class="btn btn-primary" type="submit" name="submit" value="submit">SAVE USER</button>
                    </div>
                </div>
                <div class="col-4">
                    <p>&nbsp;</p>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="form-group my-2">
                        <button class="btn btn-primary" type="submit" name="submit" value="cancel" formnovalidate="formnovalidate">CANCEL</button>
                    </div>
                </div>
            </div> 
        </form>
      </div>
    </div>

{% endblock %}