{% extends 'base.html' %}
{% from 'utils.j2' import nav, databox %}

{% block scripts %}
<script src="https://kit.fontawesome.com/f74df82d77.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}&nbsp;{% endblock %}

{% block heading %}Review FAWA Statements{% endblock %}

{% block content %}

{% set user = session['user'] %}
<!--
    SHOW SINGLE FAWA STATEMENT DETAIL. ALL FIELDS.
-->
<div class="row">
    <div class="col-12">
        {{ nav(user) }}
    </div>
</div>
<div class="row justify-content-center my-2 py-2 border-top border-bottom border-primary">
    <div class="col-6">
        <span class="fs-6">Statement Date {{ header.statementdate }}</span>
        {% if header.processed == 0 %}
        <span>&nbsp;<small>[Not Processed]</small></span>
        {% else %}
        <span>&nbsp;<small>[Processed]</small></span>
        {% endif %}
    </div>
    <!-- MAY WANT TO PUT A BUTTON TO ALLOW SENDING THIS SMS.
    {% if header.processed == 0 %}
    <div class="col-6 d-flex justify-content-end">
        <form action="{{ url_for('sendallsms', sid=header.id) }}" method="POST">
            <button class="btn btn-primary d-grid" type="submit">Send All SMS</button>
        </form>
    </div>        
    {% else %}
    <div class="col-6 d-flex justify-content-end">
        <form action="{{ url_for('showsmslogbyid', sid=header.id) }}" method="POST">
            <button class="btn btn-primary d-grid" type="submit">Show SMS Log</button>
        </form>
    </div>        
    {% endif %}
    -->
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <table class="table table-sm table-bordered small">
            <tbody>
                <tr>
                    <!-- memberno, name and phone number -->
                    <td>
                        {{ databox('memberno', 'Member No', statement.memberno) }}
                    </td>
                    <td>
                        {{ databox('fullame', 'Full Name', statement.membername) }}
                    </td>
                    <td>
                        {{ databox('phone', 'Phone', statement.phone) }}
                    </td>
                </tr>
                <tr>
                    <!-- total deposit, monthly deposit -->
                    <td>
                        {{ databox('totaldeposit', 'FAWA Account Balance', statement.totaldeposit) }}
                    </td>
                    <td>
                        {{ databox('monthlydeposit', 'Monthy FAWA Deposit', statement.monthlydeposit) }}
                    </td>
                </tr>
                <tr>
                    <!-- Loan data = principal, paid, outstanding, repayment -->
                    <td>
                        {{ databox('totalloan_principal', 'FAWA Loan Principal Amount', statement.totalloan_principal) }}
                    </td>
                    <td>
                        {{ databox('totalloanpaid', 'Loan Amount Paid', statement.totalloanpaid) }}
                    </td>
                    <td>
                        {{ databox('outstandingloan', 'Outstanding Loan Amount', statement.outstandingloan) }}
                    </td>
                    <td>
                        {{ databox('loanrepayment', 'Monthly Loan Repayment Amount', statement.loanrepayment) }}
                    </td>
                </tr>
                <tr>
                    <!-- guarantee info -->
                    <td>
                        {{ databox('guaranteed', 'Guaranteed Amount', statement.guaranteed) }}
                    </td>
                    <td>
                        {{ databox('loanroom_noguarantee', 'Loan Available with NO Guarantee', statement.loanroom_noguarantee) }}
                    </td>
                    <td>
                        {{ databox('loanroom_guarantee', 'Loan Available WITH Guarantee', statement.loanroom_guarantee) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}