{% extends 'base.html' %}
{% from 'utils.j2' import nav %}

{% block title %}&nbsp;{% endblock %}

{% block heading %}FAWA Statements{% endblock %}

{% block content %}

{% set user = session['user'] %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {{ nav(user) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="fs-4 text-center">SMS Result</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <p class="text-center">{{ message }}</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <p class="text-center"><a href="{{ url_for('showsmslogbyid', sid=sid) }}">Show SMS Data</a></p>
        </div>
    </div>
</div>

{% endblock %}