{% extends 'base.html' %}
{% from 'utils.j2' import nav, file_upload %}

{% block title %}&nbsp;{% endblock %}

{% block heading %}FAWA Statements{% endblock %}

{% block content %}

{% set user = session['user'] %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {{ nav(user) }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            {{ file_upload('/upload', 'Upload FAWA Statement File') }}
        </div>
    </div>
    {% if message %}
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="text-center">{{ message|safe }}</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}